# Dependency directories
node_modules/

# Next.js build output
.next/
out/

# Production environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# MacOS
.DS_Store

# Editor directories and files
.vscode/
.idea/

# Optional npm cache directory
.npm/

# Test output
coverage/

# Logs
logs/
*.log

# Misc
*.local
